# Core Python packages
pip>=23.0
setuptools>=65.0.1
wheel>=0.38.4

# Data Processing
openpyxl==3.1.2

# Flask and Extensions
Flask==2.3.3
Flask-SQLAlchemy==2.5.1

# Database
SQLAlchemy==1.4.48
PyMySQL==1.1.0
alembic==1.12.1

# Environment
python-dotenv==1.0.0

# HTTP Requests / Web Scraping
requests==2.31.0
beautifulsoup4==4.12.2

# Testing / Dev
Flask-Testing==0.8.1
pytest==7.4.3
pytest-flask==1.2.0

# Production / Deployment
gunicorn==21.2.0
redis==5.0.1
